.filter-button {
	background-color: transparent;
	padding: 15px;
	border: 1px solid blue;
	border-radius: 10px;
	margin-left: 5px;
	cursor: pointer;
}
.filter-button:hover {
	background-color: blue;
	color: #fff;
	transition: 0.5s;
}
